.container {
  width: 70%;
  margin: 0 auto;
  min-width: 420px;

  display: flex;
  flex-direction: column;
}

.toggle-planet {
  margin-bottom: 1rem;
}

.button-row {
  margin: 0 0 1rem 0;
}

.button-row button {
  margin-right: 1rem;
}

.stardb-app .row {
  margin-bottom: 1rem;
}

.title {
  margin: 0 auto;
}